<mat-grid-list [cols]="3">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <app-todo-counter></app-todo-counter>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <app-todo-form></app-todo-form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-todo-list [completed]="false"></app-todo-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-todo-state></app-todo-state>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-todo-list [completed]="true"></app-todo-list>
  </mat-grid-tile>
</mat-grid-list>
