<mat-vertical-stepper>
  <mat-step label="Single source of truth" completed="false">
    The state of your whole application is stored in an object tree within a single store.
  </mat-step>
  <mat-step label="State is read-only" completed="false">
    The only way to change the state is to emit an action, an object describing what happened.
  </mat-step>
  <mat-step label="Changes are made with pure functions" completed="false">
    To specify how the state tree is transformed by actions, you write pure reducers.
  </mat-step>
</mat-vertical-stepper>
