<mat-grid-list [cols]="cols | async" rowHeight="300px" #grid>
  <mat-grid-tile
    *ngFor="let implementation of implementations"
    [colspan]="implementation.name === 'Redux' && grid.cols === 2 ? 2 : 1"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ implementation.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ implementation.description }}
        </mat-card-subtitle>
        <div class="flex-spacer"></div>
        <a [href]="implementation.link">
          <mat-icon mat-card-avatar svgIcon="github-black"></mat-icon>
        </a>
      </mat-card-header>
      <mat-icon
        mat-card-image
        [svgIcon]="implementation.name.toLowerCase()"
      ></mat-icon>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
