<mat-grid-list [cols]="cols | async">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Redux
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://cdn-images-1.medium.com/max/1600/1*WcRnU2ERqYHZBKBQ0zXCvg.png" alt="Redux">
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          NgRx
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="http://briebug.github.io/presentations/ng-meetup/2018/03/ngrx-mobile/images/ngrx-logo.png" alt="Ngrx">
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          VueX
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://user-images.githubusercontent.com/7110136/29002857-9e802f08-7ab4-11e7-9c31-604b5d0d0c19.png" alt="VueX">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
