<mat-toolbar color="primary">
  <span>Predictable state container for JavaScript apps</span>
</mat-toolbar>

<mat-accordion>
  <app-redux-section section="Motivation" [ngStyle]="{textAlign: 'center'}">
    <img class="mat-elevation-z6" src="assets/images/diagrams/redux-motivation.png" alt="Motivation">
  </app-redux-section>

  <app-redux-section section="Architecture" [ngStyle]="{textAlign: 'center'}">
    <img class="mat-elevation-z6" src="assets/images/diagrams/redux-architecture.png" alt="Architecture">
  </app-redux-section>

  <app-redux-section section="Principles">
    <app-redux-principles></app-redux-principles>
  </app-redux-section>

  <app-redux-section section="Implementations">
    <app-redux-implementations></app-redux-implementations>
  </app-redux-section>
</mat-accordion>
