<mat-toolbar color="primary">
  <span>Predictable state container for JavaScript apps</span>
</mat-toolbar>

<mat-accordion>
  <app-redux-section [section]="ReduxSection.MOTIVATION">
    <img src="https://cdn-images-1.medium.com/max/1600/1*87dJ5EB3ydD7_AbhKb4UOQ.png" alt="Motivation">
  </app-redux-section>

  <app-redux-section [section]="ReduxSection.ARCHITECTURE">
    <img src="https://pbs.twimg.com/media/CsvqVeIXEAAeCSX.png" alt="Architecture">
  </app-redux-section>

  <app-redux-section [section]="ReduxSection.PRINCIPLES">
    <app-redux-principles></app-redux-principles>
  </app-redux-section>

  <app-redux-section [section]="ReduxSection.IMPLEMENTATIONS">
    <app-redux-implementations></app-redux-implementations>
  </app-redux-section>
</mat-accordion>
